@media (max-width: 991px) {
    body {
        max-width: 1024px;
    }
    .promo__header {
        font-size: 90px;
    }
    .promo__header2 {
        font-size: 85px;
    }
    .promo__header span {
        font-size: 85px;
    }
    .advantages__subtitle {
        font-size: 15px;
    }
    .advantages__wrapper {
        padding: 0 20px;
    }
    .consultation .container {
        padding: 0 20px;
    }
    .carousel {
        display: none;
    }
    .title {
        margin-top: 20px;
    }
    .promo .container {
        max-width: 991px;
    }
    .header {
        padding: 20px;
    }
    .promo__wrapper {
        padding: 20px;
    }
    .catalog {
        padding: 0 20px;
    }
    .catalog .catalog__content {
        justify-content: space-around;
    }
    .feed {
        padding: 0 20px;
    }
    .carousel .slick-next {
        right: 50px;
    }
    .carousel .slick-prev .slick-arrow {
        left: -10px;
    }

}
@media (max-width: 767px) {
    .container {
        max-width: 750px;
    }
    .promo {
        max-width: 767px;
    }
    .promo__header2 {
        font-size: 40px;
    }
    span {
        font-size: 66px;
    }
    .promo__text {
        height: 206px;
    }
    .promo__header {
        font-size: 66px;
    }
    .button_main {
        width: 250px;
        height: 40px;
    }
    .title_left {
        font-size: 28px;
    }
    .promo .chandelier {
        width: 150px;
        height: 150px;
    }
    .promo .fireplace {
        width: 150px;
        height: 150px;
    }
    .advantages__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40% 60%;
    }
    .partners {
        padding: 0 20px;
    }
    body .note {
        height: 450px;
    }
    .map {
        display: none;
    }
    body .footer {
        height: 300px;
    }
    body .pageup {
        left: 43%;
    }
}
@media (max-width: 575px) {
     .header .header__logo img {
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
    }
    .promo .promo__header {
        font-size: 72px;
    }
    .container {
        max-width: 530px;
    }
    .header__official span {
        font-size: 14px;
    }
    .header__phone {
        font-size: 15px;
    }
    .button {
        font-size: 14px;
        width: 130px;
        height: 50px;
    }
    .header__logo {
        margin-right: -90px;
    }
    .promo__header {
        font-size: 25px;
        margin-right: 25px;
    }
    .promo__subheader {
        margin-top: 0;
        font-size: 18px;
        margin-right: 24px;
    }
    .promo__icons {
        justify-content: space-evenly;
        width: 525px;
        margin-top: 63px;
    }
    .promo__link a {
        font-size: 14px;
    }
    .title {
        font-size: 23px;
    }
    .advantages__subtitle {
        text-align: center;
    }
    .button_submit {
        width: 100%;
        height: 55px;
    }
    .consultation__descr {
        font-size: 18px;
    }
    .header__contacts {
        flex-direction: column;
    }
    .header .button {
        margin-top: 10px;
    }
    .promo .promo__header {
        font-size: 50px;
    }
    .promo .promo__header2 span {
        font-size: 43px;
    }
    .promo .promoImgBlock {
        display: none;
    }
    body .promo {
        height: 550px;
    }
    body .advantages {
        height: 870px;
    }
    .advantages .advantages__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 33% 37% 35%;
    }
    .catalog .catalog__tabs {
        flex-wrap: wrap;
    }
    .catalog__tabs .catalog__tab {
        margin-top: 10px;
    }
    body .consultation {
        display: flex;
        justify-content: center;
    }
    html .note {
        height: 650px;
    }
    .note__buttons {
        display: flex;
        flex-direction: column;
    }
    .note__button {
        margin-top: 10px;
    }
    .feed__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feed__subtitle {
        margin-top: 10px;
    }
    .footer__phones {
        flex-direction: column;
        margin-top: 25px;
    }
    .footer__phones .footer__phone {
        font-size: 17px;
        margin-bottom: 0;
    }
    .footer__social {
        margin-top: 30px;
    }
    .footer__info .footer__addr {
        font-size: 15px;
        width: 320px;
        margin: 0 auto;
    }
    .consultation .feed-form {
        width: 100%;
    }
    .footer__info {
        display: none;
    }
    .footer .footer__update {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f16d7f;
    }
    .modal .modal__close {
        top: 10px;
        right: 50px;
    }
    .footer__social {
        margin-top: 34px;
    }
}
@media (max-width: 319px) {
    .catalog .catalog__tabs {
        flex-wrap: wrap;
    }
    .catalog .catalog-item {
        height: 405px;
    }
    .note .note__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .footer__info {
        display: none;
    }
    .footer .footer__update {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f16d7f;
    }
    body .container {
        max-width: 319px;
    }
    .header__logo img {
        width: 53%;
        margin-left: 13px;
    }
    .header__official {
        display: none;
    }
    .header__phone {
        font-size: 14px;
        margin-right: 25px;
    }
    .button {
        font-size: 11px;
        width: 116px;
        height: 20px;
        margin-right: 25px;
    }
    .promo__header {
        font-size: 20px;
        line-height: 20px;
    }
    .promo__subheader {
        font-size: 13px;
    }
    .promo__icons {
        justify-content: flex-end;
        width: 317px;
        margin-top: 40px;
    }
    .button_main {
        width: 134px;
        height: 38px;
    }
    .promo__link {
        font-size: 14px;
        margin-top: 7px;
        margin-right: 22px;
    }
    .promo__link a {
        font-size: 11px;
    }
    .title {
        font-size: 20px;
    }
    .advantages__wrapper {
        flex-direction: column;
        align-items: center;
    }
    img {
        margin-top: 50px;
    }
    .advantages__subtitle {
        margin-top: 10px;
    }
    .title {
        margin-bottom: -40px;
    }
    .title_left {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .consultation__descr {
        text-align: center;
        font-size: 15px;
    }
    .button_submit {
        width: 100%;
        height: 55px;
    }
    .footer__info {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .footer__social-item img {
        margin-top: 0;
    }
    .footer .footer__social {
        margin-top: 34px;
    }
}