.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: linear-gradient(177.86deg, #000000 -41.81%, rgba(0, 0, 0, 0.3) 82.48%), url("../../img/bg/fireplace.jpg") center center/cover no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    &__text {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
    }
    &__link:active,
    &__link:hover,
    &__link {
        color: #000;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .error {
        border: 1px solid red
    }
    label.error {
        color: #ffffff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}
