.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 510px;
        height: 300px;
        background-color: $main-color;
        padding: 18px 68px 60px 68px;
    }
    &__update {
        display: none;
    }
    &__addr {
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    &__phones {
        display: flex;
        justify-content: space-between;
    }

    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 38px;
        text-align: center;
        &:hover {
            color: #ffffff
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
    }
    .vk {
        width: 50px;
        height: 50px;
    }
    &__social {
        display: flex;
        justify-content: space-evenly;
    }
}