.note {
  margin-bottom: 90px;
  height: 300px;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.partners__text {
  padding-top: 20px;
}