.promo {
    height: 750px;
    padding: 21px 0 92px 0;
    background-color: #e8e8e8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__text {
        border-left: 12px solid #f16d7f;
        height: 230px;
        padding-left: 12px;
    }

    &__header {
        color: white;
        text-shadow: 4px 1px 4px #000;
        font-size: 135px;
        font-weight: 900;
        line-height: 96px;
    }

    &__header2 {
        color: #222222;
        font-size: 107px;
        font-weight: 900;
        letter-spacing: 1px;
        margin: 0;
        text-shadow: 4px 1px 4px #000;
    }

    &__header3 {
        text-align: end;
    }

    .fireplace {
        width: 200px;
        height: 200px;
    }

    .chandelier {
        width: 200px;
        height: 200px;
    }

    .promoImgBlock {
        display: flex;
        flex-direction: column;
    }

    &__header2 span {
        color: #f16d7f;
        letter-spacing: 1px;
        text-shadow: 4px 1px 4px #000;
    }

    &__subheader {
        margin-top: 17px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 24px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 425px;
        margin-top: 65px;
    }

    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    img {
        display: block;
        margin: 0 0 38px 0;
    }
}